body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

#app {
    margin-top: 50px;
}

#timer {
    font-size: 50px;
    margin-bottom: 20px;
}

button {
    font-size: 20px;
    margin: 10px;
}

#session-counter {
    margin-top: 50px;
    font-size: 20px;
}